[submodule "jupyter-ai-router-feedstock"]
	path = jupyter-ai-router-feedstock
	url = git@github.com:conda-forge/jupyter-ai-router-feedstock.git
	ignore = all
[submodule "jupyter-ai-persona-manager-feedstock"]
	path = jupyter-ai-persona-manager-feedstock
	url = git@github.com:conda-forge/jupyter-ai-persona-manager-feedstock.git
	ignore = all
[submodule "jupyter-ai-litellm-feedstock"]
	path = jupyter-ai-litellm-feedstock
	url = git@github.com:conda-forge/jupyter-ai-litellm-feedstock.git
	ignore = all
[submodule "jupyter-ai-chat-commands-feedstock"]
	path = jupyter-ai-chat-commands-feedstock
	url = git@github.com:conda-forge/jupyter-ai-chat-commands-feedstock.git
	ignore = all
[submodule "jupyterlab-commands-toolkit-feedstock"]
	path = jupyterlab-commands-toolkit-feedstock
	url = git@github.com:conda-forge/jupyterlab-commands-toolkit-feedstock.git
	ignore = all
[submodule "jupyter_server_documents-feedstock"]
	path = jupyter_server_documents-feedstock
	url = git@github.com:conda-forge/jupyter_server_documents-feedstock.git
	ignore = all
[submodule "jupyterlab-chat-feedstock"]
	path = jupyterlab-chat-feedstock
	url = git@github.com:conda-forge/jupyterlab-chat-feedstock.git
	ignore = all
[submodule "jupyter-ai-acp-client-feedstock"]
	path = jupyter-ai-acp-client-feedstock
	url = git@github.com:conda-forge/jupyter-ai-acp-client-feedstock.git
	ignore = all
[submodule "jupyter-server-mcp-feedstock"]
	path = jupyter-server-mcp-feedstock
	url = git@github.com:conda-forge/jupyter-server-mcp-feedstock.git
	ignore = all
[submodule "jupyter-ai-tools-feedstock"]
	path = jupyter-ai-tools-feedstock
	url = git@github.com:conda-forge/jupyter-ai-tools-feedstock.git
	ignore = all
[submodule "jupyter-ai-magic-commands-feedstock"]
	path = jupyter-ai-magic-commands-feedstock
	url = git@github.com:conda-forge/jupyter-ai-magic-commands-feedstock.git
	ignore = all
